body{
    background-color: #264653;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color:#264653 ;
    padding: 20px 40px;
    text-align: center;
    box-shadow: 1px 1px 3px black;
    color:white;
    width: 500px;

}
button{
    background-color: #e9c46a;
    border: none;
    padding: 10px 20px;
    color: white;
}
#author{
    color: #e9c46a;
text-align: right;
}
.fas{
    font-size: 3rem;
    padding: 5px;
    }
h3{
    display: inline;
}